<ng-container *ngIf="viewerState.isActive && viewerState.content">
  <div
    class="view-wrapper--grag"
    #v_wrapper
    cdkDrag
    (mousedown)="mouseStartTracking($event)"
    (mouseup)="mouseEndTracking($event)"
    (mousewheel)="contentZoom($event)"
    [style.height.px]="contentAutoScaling((viewerState?.content)!.height)"
  >
    <ng-container
      *ngIf="
        viewerState?.content?.type == 10 || viewerState?.content?.type == 6;
        then videoContent;
        else pictureContent
      "
    >
    </ng-container>

    <ng-template #pictureContent>
      <img
        class="v-img"
        src="https://2ch.hk/{{ viewerState?.content?.path }}"
        alt="test"
      />
    </ng-template>

    <ng-template #videoContent>
      <video
        class="v-video"
        src="https://2ch.hk/{{ viewerState?.content?.path }}"
        autoplay
        loop
        controls
        (click)="$event.preventDefault()"
      ></video>
    </ng-template>
  </div>
</ng-container>
