<div class="ui divided equal height stackable grid footer-a">
    <div class="two wide column">
        <h4 class="ui header">Links</h4>
        <div class="ui link list">
            <div>
                <i class="lightning icon"></i>
                <a href="https://2ch.hk/" class="item">2ch.hk</a>
            </div>
            <div>
                <i class="github icon"></i>
                <a href="https://github.com/NM5Reimu" class="item">GihHub</a>
            </div>
        </div>
    </div>
    <div class="two wide column">
        <h4 class="ui header">Support by</h4>
        <div class="ui link list">
            <a href="#" class="item">##A6u##</a>
            <a href="#" class="item">Your mom</a>
        </div>
    </div>
    <div class="two wide column">
        <h4 class="ui header">It's footer...</h4>
        <div class="ui link list">
            <a href="#" class="item">There's nothing here</a>
            <a href="#" class="item">Here too</a>
        </div>
    </div>
</div>
