<div class="files-grid" *ngIf="threadsState.threads.length > 0">
  <div class="files-grid__item" *ngFor="let file of filterContentByViewMod(threadsState.threads[threadsState.selectedThreadID].files)">
    <ng-container *ngIf="file?.type === 10 || file?.type === 6; then videoThumb else pictureThumb">
    </ng-container>

    <ng-template #pictureThumb>
      <img 
        src="{{mainURL}}{{file.thumbnail}}" 
        alt="pic"
        target="_blank" 
        (click)="openViewer(file)"
        width="{{file.tn_width}}" 
        height="{{file.tn_height}}"
      >
    </ng-template>
    
    <ng-template #videoThumb>
      <div class="ui embed video-thumb-wrapper" [style.width.px]=(file.tn_width) [style.height.px]=(file.tn_height) [ngStyle]="{'padding-bottom': '0'}">
        <i class="play icon"></i>
        <img
          class="video-thumb"  
          src="{{mainURL}}{{file.thumbnail}}" 
          alt="pic"
          target="_blank" 
          (click)="openViewer(file)"
          width="{{file.tn_width}}" 
          height="{{file.tn_height}}"
        >
      </div>
    </ng-template>
  </div>    
</div>